{% extends 'template.html' %}
{% block title %}Homepage{% endblock %}

{%block content%}
<h2 class="text_center"><b>What is a peanut allergy?</b></h2>
<p id="text_intro">
    Nut allergies are a prevalent and potentially serious health concern that affects a significant portion of the global population.
    Characterized by an adverse immune response to proteins found in various types of nuts, such allergies can range from mild discomfort to severe,
    life-threatening reactions.
    Peanuts, tree nuts such as almonds, walnuts, cashews, and hazelnuts, among others, are common triggers for allergic responses.
    The prevalence of nut allergies has been on the rise in recent years, leading to increased awareness and efforts to manage and prevent reactions.
    Understanding the causes, symptoms, and treatment options for nut allergies is crucial for individuals, families,
    and healthcare professionals to ensure the safety and well-being of those affected by this condition.
    This introduction sets the stage for a comprehensive exploration of the various aspects of nut allergies,
    shedding light on the challenges faced by individuals with these allergies and the broader implications for society.<br><br>
</p>
<p class="text_center">
    <b>Peanut Allergy: Definition and Basic Information:</b><br>
    Peanut allergy is an immune system response triggered by the proteins found in peanuts.
    This allergic reaction can range from mild symptoms, such as itching or hives, to severe and life-threatening reactions, including anaphylaxis.
    Anaphylaxis is a severe response that can lead to difficulty breathing and a drop in blood pressure, if not treated promptly this can be fatal.<br><br>
</p>
<div class="text_center">
    <b>Key Points:</b><br>
    <ul class="left_list">
        <li>Prevalence: Peanut allergies are prevalent, particularly in Western countries, and their incidence has been on the rise.
            The exact reasons for this increase are not fully understood, and ongoing research aims to explore contributing factors.</li><br>
        <li>Onset: Peanut allergies often manifest in childhood, and some individuals may outgrow the allergy with age.
        However, for others, it persists into adulthood, making lifelong management crucial.</li><br>
        <li>Cross-Contact Risk: Cross-contact, where peanuts or peanut residue unintentionally come into contact with other foods, poses a significant risk.
        Strict avoidance measures are necessary to prevent accidental exposure.</li><br>
        <li>Symptoms: Allergic reactions to peanuts can vary widely.
        Mild symptoms may include skin reactions like itching or hives, while more severe reactions can involve swelling,
        difficulty breathing, gastrointestinal distress, and cardiovascular issues.</li><br>
        <li>Anaphylaxis: The most severe form of a peanut allergic reaction is anaphylaxis, a medical emergency requiring immediate intervention with epinephrine.
        Symptoms of anaphylaxis can escalate rapidly, making prompt recognition and treatment essential.</li>
    </ul>
</div><br><br>
<div class="text_center">
    <p>
    <b>Allergens in Peanuts:</b><br>
    Peanuts contain a variety of proteins that can act as allergens, triggering immune responses in susceptible individuals.
    The two main types of proteins associated with peanut allergies are:<br>
</p>

<ul class="left_list">
    <li>Ara h 1, Ara h 2, Ara h 3, and Ara h 6: These are storage proteins found in peanuts, and they are known to trigger allergic reactions.
        Ara h 2, in particular, is often associated with severe peanut allergies.</li><br>
    <li>Ara h 8: This is a cross-reactive protein shared with birch pollen.
    Individuals who are sensitized to birch pollen may also experience allergic reactions to peanuts due to this cross-reactivity.</li>
</ul><br><br>
    </div>
<p class="text_center">
    <b>Cross-Reactivity:</b><br>
    Peanut allergies can sometimes coexist with allergies to other legumes, such as soybeans and lentils, due to cross-reactivity among similar proteins.
    Individuals with peanut allergies are advised to exercise caution with legume-containing products and consult with allergists to determine specific sensitivities.
    Understanding the allergens present in peanuts is crucial for both diagnosis and management.
    Accurate identification of these proteins helps in developing effective diagnostic tests and potential therapies aimed at desensitization.
    As research in immunology and allergy continues, advancements in understanding and managing peanut allergies offer hope for improved outcomes and quality of life for those affected.
</p>
{%endblock%}
