{% extends 'template.html' %}
{% block title %}Peanut vs immune system{% endblock %}

{%block content%}
<section class="text_center"><b class="bold_text">What is a peanut allergy?</b> <br><br>
The immune response to a peanut allergy:
  Your immune system is build to defend you against any threats that enter your body. But for some people the immune system isnt able to properly determine what is a threat to your body. This will cause the body to react to stuff that is harmless for most people. This is an allergic reaction. Here we will discuss what is going wrong with the immune system for people with a peanut allergy.<br><br>
  <img src="https://ars.els-cdn.com/content/image/1-s2.0-S0161589018301226-gr1.jpg" height="370" width="502"/><br>
  Structures of some of the common peanut allergens.
  Picture from the article peanut allergens by Chiara Palladino and Heimo Breiteneder

What triggers the allergic reaction:
  There isn't one thing in peanuts that causes all allergic reactions.
  But there is one family of proteins in the peanut that is responsible for the vast majority of allergic reactions.
  This is the ara h family of proteins. For people that have a peanut allergy these proteins can bind to IgE receptors.
  IgE receptors are located on certain immune cells, like B cells, and when an allergen binds to them, they can trigger an immune reaction.
  In the vast majority of peanut allergy cases one family of proteins is the main allergen that causes the reaction,
  this protein family is called ara h.

Minor and major allergens:
  It is important to note that most of the time that in people with a peanut allergy not all ara h proteins can bind the IgE receptors.
  People are often allergic to just one or certain groups of very similar ara h proteins.
  Though in rare cases people are allergic to the whole ara h family.
  The ara h family of proteins is divided into minor and major allergens.
  Minor allergens are allergens to which less than 50% of the allergic population are allergic to.
  The ara h proteins that are considered minor allergens are ara h 5 and 8.
  And major allergens are allergens to witch more than 50% of the allergic population is allergic.
  The ara h proteins that are considered major allergens are ara h 1, 2, 3 and 6.

The allergic reaction:
  We now know that an allergic reaction is triggered when an allergen binds to the IgE receptors of immune cells.
  But what happens after that actually causes so much damage to the body in the case of a peanut allergy?
  B cells are activated by allergens binding to their IgE receptors then these cells may then produce a variety of cytokines and chemo kines,
  which recruit other inflammatory cells and contribute to the inflammatory response.
  In the case of a peanut allergy this can cause can give mild symptoms like bumps on the skin to severe symptoms like major swelling
  in the throat of even anaphylactic shock

How to diagnose peanut allergies?
  The most common way to test for peanut allergies is with the skin pricking method.
  This involves pricking the skin with a pin laced with peanut extract.
  A response is measured about 20 minutes later.
  If there is flaring on the skin the test is positive and indicates the patient has a peanut allergy.
  This test isn't fully reliable and can cause false positives.
  This test is still very useful as it is excellent at showing the likely severely of future reactions.
  If there is only mild flaring on the skin the patient could be allergic but not display any severe symptoms
  when they actually come into contact with peanuts.
  A more reliable form of testing if a person has a peanut allergy is testing the blood for levels of peanut specific IgE antibodies.
  This test however doesn't indicate the severity of the allergic reaction when it does occur.
  So ultimately the most reliable form of testing is a clinician supervised oral food test.
  Where the patient ingests a small amount of peanut serum and the reaction of the patients body to the serum is measured in a controlled environment.
  This test is very good at showing weather people actually show dangerous symptoms when ingesting peanuts.

How to treat a peanut allergy?
Avoidance of anything containing peanuts is still the recommended way to manage a peanut allergy. But peanuts are very common in food so coming into contact with peanuts is almost unavoidable. So severe reactions such as anaphylactic shock may still occur. The first line of defence when this happens is the epi-pen. The epi-pen contains epinephrine. When a severe allergic reaction occurs the epinephrine should ideally be administered into the muscle of the lateral thigh. This however does not treat anaphylaxis it is only a way of managing it. When anaphylactic shock occurs the patient should be brought to the hospital and IV fluids should be provided to prevent and treat tissue hypo perfusion. In rare cases, the patient may require intubation for airway protection.

<h2>Common Symptoms of Peanut Allergies:</h2>
<ul>
  <li>Raised red bumps on the skin (hives/urticaria)</li>
  <li>Swelling of the lips</li>
  <li>Tingling of the throat and mouth</li>
  <li>Itchy skin and rash</li>
  <li>Runny nose</li>
  <li>Tightening of the throat</li>
  <li>Digestive symptoms: cramps, stomach pain, nausea, or vomiting</li>
</ul>

<h2>Severe Symptoms of Peanut Allergies:</h2>
<ul>
  <li>Difficult or noisy breathing</li>
  <li>Swelling of the tongue</li>
  <li>Swelling or tightness of the throat</li>
  <li>Difficulty talking or a hoarse voice</li>
  <li>Wheeze or persistent cough</li>
  <li>Persistent dizziness or collapse</li>
  <li>Paleness and floppiness in young children</li>
  <li>Anaphylactic shock</li>
</ul>
</section>

{%endblock%}
