{% extends 'template.html' %}
{% block title %}Homepage{% endblock %}

{%block content%}
<h2 class="sources_left"><b>Specific ongoing researchers</b></h2>
<p class="sources_left">Research on peanut allergies has provided deeper insights into the complex immune responses occurring in individuals with this allergy.
    Here are some potential groundbreaking researches with a short summary of what they did.<br><br>

    <b>First one from the University of California.</b><br>
    UCLA immunologists have developed a groundbreaking nano particle, inspired by COVID-19 vaccines, to address peanut allergies.
    The nano particle delivers mRNA to liver cells, teaching the immune system to tolerate peanut proteins.
    In mouse experiments, it not only reversed peanut allergies but also prevented new ones.
    The study, published in ACS Nano, suggests the mRNA-loaded nano particle could be a potential treatment for various allergies.
    With successful lab studies, it could enter clinical trials within three years.
    The researchers are also exploring its application in treating type 1 diabetes and other autoimmune disorders.
    Funding came from NIH, Marlin Miller Jr. Family Foundation, and Noble Family Innovation Fund at CNSI.<br><br>

    <b>Second one from Indiana University.</b><br>
    Indiana University School of Medicine researchers have uncovered a potential breakthrough in preventing life-threatening allergic reactions caused by peanut allergies.
    The team, led by Dr. Mark Kaplan, developed peanut-specific inhibitors known as covalent hetero bivalent inhibitors (cHBI).
    These inhibitors successfully blocked mast cell or basophil degranulation, preventing anaphylaxis in an animal model.
    The cHBI inhibitor demonstrated efficacy in preventing allergic reactions for over two weeks when administered before allergen exposure.
    Further testing in animal models is underway to assess efficacy and toxicity before potential clinical trials.
    The study was published in Science Translational Medicine and was partially funded by the Falk Medical Research Trust Award.<br><br>

    <b>And the third one from Murdoch childrens research institute.</b><br>
    That did research an  immunotherapy  treatment
    A new Phase 2 trial will investigate the effectiveness of PVX108, an immunotherapy treatment, in reducing peanut allergy symptoms in children.
    Developed in Melbourne, Australia, PVX108 aims to retrain the immune system to tolerate peanut allergens without containing peanut proteins.
    The Aravax AVX-201 Study will administer monthly doses of PVX108 over 12 months to determine if sustained peanut tolerance can be achieved in children aged four to 17.
    Aravax, a Melbourne-based biotech company, sponsors the study, with potential global impact on transforming lives affected by peanut allergies.<br><br>

    <b>And as last who we find interesting:</b><br>
    This one is form Northwestern Medicine Feinberg School of Medicine
    A study published in the Journal of Clinical Investigation suggests that the cancer drug acalabrutinib,
    approved by the FDA to treat lymphomas, may also prevent allergic reactions to peanuts.
    The drug inhibits Bruton’s tyrosine kinase (BTK), an enzyme involved in allergic reactions.
    In a small trial, 7 out of 10 patients with peanut allergies tolerated significant amounts of peanut protein after receiving acalabrutinib.
    Bruce Bochner, MD, Professor Emeritus of Medicine,
    calls the drug's efficacy in preventing anaphylaxis "groundbreaking" but emphasizes the need for validation in larger trials.
    The study was led by Melanie Dispenza, MD, PhD, at Johns Hopkins University School of Medicine.<br><br><br><br>
</p>
<h2 class="sources_left"><b>Research insights into peanut allergies(in summary):</b></h2>
<p class="sources_left">
    It would of course be amazing if we were able to actually cure peanut allergies.
    But sadly nowadays we are still only able to manage it.
    But what are some research directions that in the future could possibly help cure peanut allergies.<br><br>
    <b>Probiotics:</b><br>
    There are researchers looking into the connection between the gut microbiome and allergic reactions.
    The hope is that by giving patients certain probiotics that in the future this might be able to diminish the effect of peanut allergies or potentially even fully cure it.
    This research is however still in very early stages, so it will still take a long time before probiotics might cure allergies.<br><br>
    <b>Monoclonal antibodies:</b><br>
    There has been research into using monoclonal antibodies to modify certain immune pathways into no longer seeing certain allergens as a threat to the body.
    If this were to be successful it could fully cure most allergies.<br><br>
    <b>Oral immunotherapy:</b><br>
    By introducing small amounts of peanut extract under the tong and slowly increasing the dose it has been shown that in some patients this will over time desensitise the body to peanut allergens.
    This however doesn't work for all people suffering from peanut allergies so even if the technique would be improved it would be unlikely to be a cure for all people with peanut allergies.<br><br>
</p><br><br>

<p class="sources_left">
There are many researches ongoing because it's a hot topic.
This is of course such a danger for a lot of people and there is much to learn.<br><br>
If you want to know more about these researches you can find that on:<br>
<a href="https://www.mcri.edu.au/news-stories/new-trial-testing-whether-an-oral-immunotherapy-reduces-peanut-allergy-symptoms-in-children-and-teens">New trial testing whether an oral immunotherapy  reduces peanut allergy symptoms in children and teens</a><br>
<a href="https://www.universityorefcalifornia.edu/news/end-peanut-allergies">End peanut allergies</a><br>
<a href="https://medicine.iu.edu/news/2023/02/anaphylaxis-peanut-allergies-inhibitor">Anaphylaxis peanut allergies inhibitor</a><br>
<a href="https://news.feinberg.northwestern.edu/2023/08/10/new-cancer-drug-may-also-curb-peanut-allergies/">New cancer drug may also curb peanut allergies</a><br>
</p>
{%endblock%}