{% extends 'template.html' %}
{% block title %}Homepage{% endblock %}

{%block content%}
<h2 class="text_center"><b>Research insights into peanut allergies</b></h2>
<p class="text_center"><br><br>
    It would of course be amazing if we were able to actually cure peanut allergies.
    But sadly nowadays we are still only able to manage it.
    But what are some research directions that in the future could possibly help cure peanut allergies.<br><br>
    <b>Probiotics:</b><br>
    There are researchers looking into the connection between the gut microbiome and allergic reactions.
    The hope is that by giving patients certain probiotics that in the future this might be able to diminish the effect of peanut allergies or potentially even fully cure it.
    This research is however still in very early stages, so it will still take a long time before probiotics might cure allergies.<br><br>
    <b>Monoclonal antibodies:</b><br>
    There has been research into using monoclonal antibodies to modify certain immune pathways into no longer seeing certain allergens as a threat to the body.
    If this were to be successful it could fully cure most allergies.<br><br>
    <b>Oral immunotherapy:</b><br>
    By introducing small amounts of peanut extract under the tong and slowly increasing the dose it has been shown that in some patients this will over time desensitise the body to peanut allergens.
    This however doesn't work for all people suffering from peanut allergies so even if the technique would be improved it would be unlikely to be a cure for all people with peanut allergies.<br><br>
</p>
{%endblock%}