{% extends 'template.html' %}
{% block title %}Homepage{% endblock %}

{%block content%}
<h3 class="text_center">Sources for all the information on the website:</h3>
  <li class="text_center"><a href="https://www.ncbi.nlm.nih.gov/books/NBK538526/#:~:text=Ultimately%20a%20clinician%2Dsupervised%20oral,have%20an%20oral%20food%20challenge." target="_blank">NCBI: Peanut Allergy</a></li>
  <li class="text_center"><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC154188/" target="_blank">NCBI: Peanut allergy: an overview</a></li>
  <li class="text_center"><a href="https://ctajournal.biomedcentral.com/articles/10.1186/s13601-019-0266-7#:~:text=IgE%20epitopes%2C%20also%20known%20as,reactions%20%5B13%2C%2014%5D." target="_blank">Bio med central: Identification of immunodominant IgE binding epitopes of Der p 24, a major allergen of Dermatophagoides pteronyssinus</a></li>
  <li class="text_center"><a href="https://www.frontiersin.org/articles/10.3389/fimmu.2020.594350/full">Frontiers: IgE-Mediated Peanut Allergy: Current and Novel Predictive Biomarkers for Clinical Phenotypes Using Multi-Omics Approaches </a></li>
{%endblock%}
