{% extends 'template.html' %}
{% block title %}Homepage{% endblock %}

{%block content%}
<h2 class="sources_left">Sources for all the information on the website:</h2>
    <h3 class="sources_left">Sources Introduction:</h3>
    <ul>
        <li class="sources_left"><a href="https://kidswithfoodallergies.org/living-with-food-allergies/top-food-allergens/tree-nut-allergy/">Understanding Tree Nut Allergy: An Introduction</a></li>
        <li class="sources_left"><a href="https://patient.info/allergies-blood-immune/food-allergy-and-intolerance/nut-allergy">Overview of Nut Allergy: Symptoms and Management</a></li>
        <li class="sources_left"><a href="https://www.ncbi.nlm.nih.gov/books/NBK538526/#:~:text=Ultimately%20a%20clinician%2Dsupervised%20oral,have%20an%20oral%20food%20challenge." target="_blank">NCBI: Peanut Allergy</a></li>
        <li class="sources_left"><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC154188/" target="_blank">NCBI: Peanut allergy: an overview</a></li>
    </ul>

<h3 class="sources_left">Research Articles:</h3>
    <ul>
        <li class="sources_left"><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4785306/">Understanding Peanut Allergy: A Research Perspective</a></li>
        <li class="sources_left"><a href="https://www.mcri.edu.au/news-stories/researchers-discover-immune-system-changes-support-peanut-allergy-remission-children">Discovering Immune System Changes Supporting Peanut Allergy Remission in Children</a></li>
        <li class="sources_left"><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6247235/">Peanut Allergy Treatment Options: Recent Advancements</a></li>
        <li class="sources_left"><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2670761/">Understanding Genetic Factors in Peanut Allergy</a></li>
        <li class="sources_left"><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6949413/">Epidemiological Trends and Risk Factors of Peanut Allergy</a></li>
        <li class="sources_left"><a href="https://publichealth.jhu.edu/2015/do-genes-play-a-role-in-peanut-allergies-new-study-suggests-yes">The Role of Genes in Peanut Allergies: New Insights</a></li>
        <li class="sources_left"><a href="https://www.mayoclinic.org/diseases-conditions/peanut-allergy/diagnosis-treatment/drc-20376181">Diagnosis and Treatment Guidelines for Peanut Allergy</a></li>
        <li class="sources_left"><a href="https://ctajournal.biomedcentral.com/articles/10.1186/s13601-019-0266-7#:~:text=IgE%20epitopes%2C%20also%20known%20as,reactions%20%5B13%2C%2014%5D." target="_blank">Bio med central: Identification of immunodominant IgE binding epitopes of Der p 24, a major allergen of Dermatophagoides pteronyssinus</a></li>
        <li class="sources_left"><a href="https://www.frontiersin.org/articles/10.3389/fimmu.2020.594350/full">Frontiers: IgE-Mediated Peanut Allergy: Current and Novel Predictive Biomarkers for Clinical Phenotypes Using Multi-Omics Approaches </a></li>
    </ul>

<h3 class="sources_left">Pictures:</h3>
    <ul>
        <li class="sources_left"><a href="https://pubmed.ncbi.nlm.nih.gov/29680589/">Picture of ara h allergens</a></li>
        <li class="sources_left"><a href="https://www.livingbeyondallergies.com/peanut-allergy-what-to-eat-and-what-to-avoid/">Picture of food with traces of peanut</a></li>
        <li class="sources_left"><a href="https://www.freepik.com/premium-vector/cute-happy-nuts-set-collection-flat-cartoon-character-illustration-isolated-white-background-peanut-hazelnut-walnut-brazil-nut-pistachio-cashew-pecan-almond-characters_8879710.htm#query=cute-happy-nuts-set-collection-flat-cartoon-character-illustration-isolated-white-background-peanut-hazelnut-walnut-brazil-nut-pistachio-cashew-pecan-almond-characters&position=0&from_view=search&track=sph&uuid=7aacf87b-a784-456d-854e-8235f4108b1a">Picture of nuts</a></li>
        <li class="sources_left"><a href="https://www.runnersworld.com/news/a30469013/junk-food-poor-eye-health-study/">Picture of sweets</a></li>
        <li class="sources_left"><a href="https://www.marketwatch.com/story/tevas-generic-epipen-approved-in-the-us-with-perfect-timing-2018-08-16">Picture of epi pen</a></li>
        <li class="sources_left"><a href="https://www.salamanca.ie/allergen-information/">Picture of food allergy symbols</a></li>
        <li class="sources_left"><a href="https://www.healthywa.wa.gov.au/Articles/U_Z/Understanding-food-labels-for-allergies">Picture of ingredients list</a></li>
        <li class="sources_left"><a href="https://www.futurepmo.com/art-of-speaking-to-inform-with-impact/">Picture of inform people</a></li>
        <li class="sources_left"><a href="https://www.amazon.com/Peanut-Free-Zone-Products-Aluminum/dp/B07QYPWKD3">Picture of peanut-free zone</a></li>
        <li class="sources_left"><a href="https://www.researchgate.net/figure/Mechanism-of-food-allergy_fig1_304460976">Picture of immune system and peanut allergy</a></li>
    </ul>
{%endblock%}
